{{ template "header.html" .Frame }}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Users</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "message.html" .Frame }}
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Email</th>
			<th>Creation Time</th>
			<th>Credit</th>
			<th>Limit</th>
		</tr>
		{{ range .Users }}
		<tr>
			<td><a href="/admin/user/{{ .Id }}">{{ .Id }}</a></td>
			<td><a href="/admin/user/{{ .Id }}">{{ .Username }}</a></td>
			<td>{{ .Email }}</td>
			<td>{{ .CreateTime }}</td>
			<td>{{ .Credit | FormatCredit }}</td>
			<td>{{ .VmLimit }}</td>
		</tr>
		{{ end }}
		</table>
	</div>
</div>
{{ template "footer.html" .Frame }}
