{{ template "header.html" .Frame }}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{ T "user" }}: {{ .User.Username }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "message.html" .Frame }}
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<tr>
				<th>{{ T "id" }}</th>
				<td>{{ .User.Id }}</td>
			</tr>
			<tr>
				<th>{{ T "username" }}</th>
				<td>{{ .User.Username }}</td>
			</tr>
			<tr>
				<th>{{ T "email_address" }}</th>
				<td>{{ .User.Email }}</td>
			</tr>
			<tr>
				<th>{{ T "creation_time" }}</th>
				<td>{{ .User.CreateTime | FormatTime }}</td>
			</tr>
			<tr>
				<th>{{ T "credit" }}</th>
				<td>{{ .User.Credit | FormatCredit }}</td>
			</tr>
			<tr>
				<th>{{ T "limit" }}</th>
				<td>{{ .User.VmLimit }}</td>
			</tr>
			<tr>
				<th>{{ T "status" }}</th>
				<td>{{ .User.Status }}</td>
			</tr>
			<tr>
				<th>{{ T "admin?" }}</th>
				<td>
					{{ if .User.Admin }}
						{{ T "yes" }}
					{{ else }}
						{{ T "no" }}
					{{ end }}
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div style="float:left;">
			<form method="POST" action="/admin/user/{{ .User.Id }}/login">
				<div class="form-group">
					<input type="hidden" name="token" value="{{ .Token }}" />
					<button type="submit" class="btn btn-primary">{{ T "login_as_user" }}</button>
				</div>
			</form>
		</div>
		<div style="float:left; padding-left:5px;">
			<p><a href="/admin/support/open/{{ .User.Id }}"><button type="button" class="btn btn-primary">{{ T "open_ticket" }}</button></a></p>
		</div>
		{{ $params := modal (T "adjust_credit") (print "/admin/user/" .User.Id "/credit") "primary" .Token }}
		{{ template "modal_header.html" $params }}
			<div class="form-group">
				<label>Credit:</label>
				<input type="text" class="form-control" name="credit">
			</div>
			<div class="form-group">
				<label>Description:</label>
				<input type="text" class="form-control" name="description">
			</div>
		{{ template "modal_footer.html" $params }}

		{{ $params := modal (T "change_password") (print "/admin/user/" .User.Id "/password") "warning" .Token }}
		{{ template "modal_header.html" $params }}
			<div class="form-group">
				<label>{{ T "new_password" }}</label>
				<input type="password" class="form-control" name="password">
			</div>
			<div class="form-group">
				<label>{{ T "new_password_confirm" }}</label>
				<input type="password" class="form-control" name="password_confirm">
			</div>
		{{ template "modal_footer.html" $params }}
		<div style="float:left; padding-left:5px;">
			<form method="POST" action="/admin/user/{{ .User.Id }}/disable" onsubmit="return window.confirm('{{ js (T "account_disable_confirm_text") }}');">
				<div class="form-group">
					<input type="hidden" name="token" value="{{ .Token }}" />
					<button type="submit" class="btn btn-danger">{{ T "disable" }}</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
		<tr>
			<th>{{ T "name" }}</th>
			<th>{{ T "status" }}</th>
			<th>{{ T "external_ip" }}</th>
			<th>{{ T "private_ip" }}</th>
			<th>{{ T "plan" }}</th>
			<th>{{ T "vcpus" }}</th>
			<th>{{ T "memory" }}</th>
			<th>{{ T "storage" }}</th>
			<th>{{ T "bandwidth" }}</th>
		</tr>
		{{ range .VirtualMachines }}
		<tr>
			<td>{{ .Name }}</td>
			<td>{{ .Status | Title }}</td>
			<td>{{ .ExternalIP }}</td>
			<td>{{ .PrivateIP }}</td>
			<td>{{ .Plan.Name }}</td>
			<td>{{ .Plan.Cpu }}</td>
			<td>{{ .Plan.Ram }} MB</td>
			<td>{{ .Plan.Storage }} GB</td>
			<td>{{ .Plan.Bandwidth }} GB</td>
		</tr>
		{{ end }}
		</table>
	</div>
</div>
{{ template "footer.html" .Frame }}
