{{ template "header.html" .Frame }}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">User: {{ .User.Username }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "message.html" .Frame }}
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<tr>
				<th>ID</th>
				<td>{{ .User.Id }}</td>
			</tr>
			<tr>
				<th>Username</th>
				<td>{{ .User.Username }}</td>
			</tr>
			<tr>
				<th>E-mail address</th>
				<td>{{ .User.Email }}</td>
			</tr>
			<tr>
				<th>Create time</th>
				<td>{{ .User.CreateTime | FormatTime }}</td>
			</tr>
			<tr>
				<th>Credit</th>
				<td>{{ .User.Credit | FormatCredit }}</td>
			</tr>
			<tr>
				<th>Limit</th>
				<td>{{ .User.VmLimit }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ .User.Status }}</td>
			</tr>
			<tr>
				<th>Admin?</th>
				<td>
					{{ if .User.Admin }}
						Yes
					{{ else }}
						No
					{{ end }}
				</td>
			</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<div style="float:left;">
			<form method="POST" action="/admin/user/{{ .User.Id }}/login">
				<div class="form-group">
					<input type="hidden" name="token" value="{{ .Token }}" />
					<button type="submit" class="btn btn-primary">Login as user</button>
				</div>
			</form>
		</div>
		<div style="float:left; padding-left:5px;">
			<p><a href="/admin/support/open/{{ .User.Id }}"><button type="button" class="btn btn-primary">Open ticket</button></a></p>
		</div>
		<div style="float:left; padding-left:5px;">
			<button class="btn btn-primary" data-toggle="modal" data-target="#modalCredit">Adjust credit</button>
			<div class="modal" id="modalCredit" tabindex="-1" role="dialog" aria-labelledby="modalCreditLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<form method="POST" action="/admin/user/{{ .User.Id }}/credit">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title" id="modalCreditLabel">Adjust credit</h4>
							</div>
							<div class="modal-body">
								<div class="form-group">
									<label>Credit:</label>
									<input type="text" class="form-control" name="credit">
								</div>
								<div class="form-group">
									<label>Description:</label>
									<input type="text" class="form-control" name="description">
								</div>
							</div>
							<div class="modal-footer">
								<div style="float:left; padding-left:5px;">
									<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
								<div style="float:left; padding-left:5px;">
									<div class="form-group">
										<input type="hidden" name="token" value="{{ .Token }}" />
										<button type="submit" class="btn btn-primary">Adjust credit</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div style="float:left; padding-left:5px;">
			<form method="POST" action="/admin/user/{{ .User.Id }}/disable" onsubmit="return window.confirm('Are you sure you want to disable this user account?');">
				<div class="form-group">
					<input type="hidden" name="token" value="{{ .Token }}" />
					<button type="submit" class="btn btn-danger">Disable</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Status</th>
			<th>External IP</th>
			<th>Private IP</th>
			<th>Plan</th>
			<th>vCPUs</th>
			<th>Memory</th>
			<th>Storage</th>
			<th>Bandwidth</th>
		</tr>
		{{ range .VirtualMachines }}
		<tr>
			<td>{{ .Name }}</td>
			<td>{{ .Status | Title }}</td>
			<td>{{ .ExternalIP }}</td>
			<td>{{ .PrivateIP }}</td>
			<td>{{ .Plan.Name }}</td>
			<td>{{ .Plan.Cpu }}</td>
			<td>{{ .Plan.Ram }} MB</td>
			<td>{{ .Plan.Storage }} GB</td>
			<td>{{ .Plan.Bandwidth }} GB</td>
		</tr>
		{{ end }}
		</table>
	</div>
</div>
{{ template "footer.html" .Frame }}
