{{ template "header.html" .Frame }}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{ T "users" }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "message.html" .Frame }}
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
		<tr>
			<th>{{ T "id" }}</th>
			<th>{{ T "username" }}</th>
			<th>{{ T "email_address" }}</th>
			<th>{{ T "creation_time" }}</th>
			<th>{{ T "credit" }}</th>
			<th>{{ T "limit" }}</th>
		</tr>
		{{ range .Users }}
		<tr>
			<td><a href="/admin/user/{{ .Id }}">{{ .Id }}</a></td>
			<td><a href="/admin/user/{{ .Id }}">{{ .Username }}</a></td>
			<td>{{ .Email }}</td>
			<td>{{ .CreateTime }}</td>
			<td>{{ .Credit | FormatCredit }}</td>
			<td>{{ .VmLimit }}</td>
		</tr>
		{{ end }}
		</table>
	</div>
</div>
{{ template "footer.html" .Frame }}
