<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Lobster: Virtual VMs</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<link rel="stylesheet" href="/assets/css/bootstrap.css" media="screen">
		<link rel="stylesheet" href="/assets/css/bootswatch.css">
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
			<script src="../bower_components/html5shiv/dist/html5shiv.js"></script>
			<script src="../bower_components/respond/dest/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<div class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<a href="/" class="navbar-brand">Lobster</a>
					<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div class="navbar-collapse collapse" id="navbar-main">
					<ul class="nav navbar-nav">
						<li{{ if eq .Title "pricing" }} class="active"{{ end }}>
							<a href="/pricing">Pricing</a>
						</li>
						<li{{ if eq .Title "about" }} class="active"{{ end }}>
							<a href="/about">About</a>
						</li>
						<li{{ if eq .Title "contact" }} class="active"{{ end }}>
							<a href="/contact">Contact Us</a>
						</li>
						<li{{ if eq .Title "login" }} class="active"{{ end }}>
							<a href="/login">Login</a>
						</li>
						<li{{ if eq .Title "create" }} class="active"{{ end }}>
							<a href="/create">Create Account</a>
						</li>
					</ul>
				</div>
			</div>
		</div>


		<div class="container">
