{{ template "header.html" . }}
<div class="page-header" id="banner">
	<div class="row">
		<div class="col-lg-8 col-md-7 col-sm-6">
			<h1>Lobster</h1>
			<p class="lead">The Virtual VM Provider</p>
		</div>
	</div>
</div>
<div class="clearfix">
	<div class="row">
		<div class="col-lg-4">
			<div class="page-header">
				<h2>Virtual VMs</h2>
				<p>We are the number one provider of virtual virtual machines. Unlike almost all other providers out there, our virtual machines are virtual: we provide you with a virtual virtual disk, virtual bandwidth, virtual IP addresses, virtual virtual CPUs; and best of all, you can pay for all this with virtual credit. Want to see our virtual datacenter? Contact us on our virtual phone support line and we'll be happy to assist.</p>
				<p class="lead"><a href="/pricing">View plans and pricing</a></p>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="page-header">
				<h2>Offshore Locations</h2>
				<p>Our virtual VMs are hosted in offshore locations. We're currently located on the moon and on Mars. If you're worried about the ping, don't be! We use virtual faster-than-light communication systems to provide you with a high-quality connection.</p>
				<p class="lead"><a href="/create">Sign up now</a></p>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="page-header">
				<h2>Premium Customer Support</h2>
				<p>We provide premium customer support, and guarantee replies within sixty seconds. Open a ticket and see how fast our response time is!</p>
			</div>
		</div>
	</div>
</div>
{{ template "footer.html" . }}
