{{ template "header.html" . }}
<div class="row">
	<div class="col-lg-12">
		<h1>Pricing</h1>
		<p>Our virtual VMs come in various flavors.</p>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>RAM</th>
				<th>Virtual cores</th>
				<th>Storage</th>
				<th>Bandwidth</th>
				<th>Hourly price</th>
				<th>Monthly price</th>
			</tr>
			<tr>
				<td>Goldfish</td>
				<td>512 MB</td>
				<td>2</td>
				<td>100 GB</td>
				<td>5,000 GB</td>
				<td>$0.001</td>
				<td>$0.72</td>
			</tr>
			<tr>
				<td>Eel</td>
				<td>1024 MB</td>
				<td>4</td>
				<td>200 GB</td>
				<td>10,000 GB</td>
				<td>$0.002</td>
				<td>$1.44</td>
			</tr>
			<tr>
				<td>Crab</td>
				<td>2048 MB</td>
				<td>8</td>
				<td>400 GB</td>
				<td>20,000 GB</td>
				<td>$0.004</td>
				<td>$2.88</td>
			</tr>
			<tr>
				<td>Starfish</td>
				<td>4096 MB</td>
				<td>16</td>
				<td>750 GB</td>
				<td>30,000 GB</td>
				<td>$0.008</td>
				<td>$5.75</td>
			</tr>
			<tr>
				<td>Lobster</td>
				<td>8192 MB</td>
				<td>32</td>
				<td>2 TB</td>
				<td>500 mbps</td>
				<td>$0.016</td>
				<td>$11.50</td>
			</tr>
			<tr>
				<td>Alien</td>
				<td>16384 MB</td>
				<td>32</td>
				<td>4 TB</td>
				<td>1 gbps</td>
				<td>$0.032</td>
				<td>$23.00</td>
			</tr>
		</table>
		<p><a href="/create" class="btn btn-success btn-lg">Sign up for an account</a></p>
	</div>
</div>
{{ template "footer.html" . }}
