{{ template "header.html" . }}
<div class="row">
	<div class="col-lg-12">
		<h1>Terms of Service</h1>
		<p>FOR IMMEDIATE RELEASE - June 22, 2014
		<br />Green Value Hosting, Inc.
		<br />Normal, Illinois, USA 61761</p>

		<h3>Jonathan Nguyen resigns as GreenValueHost Operations Director</h3>
		<p>After nearly two years serving as the primary Operations Director of GreenValueHost, it has been decided that the best course of action at this time for Jon to resign his position and step down.</p>
		<p>Following a recent executive management meeting, it has been decided that Jaroslav Urban will be named the new Operations Director of GreenValueHost.</p>
		<p>Jaroslav, who also goes by Jonathan Nguyen, is a seasoned hosting industry and information technology pioneer that is dedicated to turning GreenValueHost into a quality, stable, and reputable company worth praise.</p>
		<p>"I look forward to actually implementing the slogan, "Customer satisfaction is our ethos". As a past customer of GreenValueHost, I never felt the ethos of customer satisfaction; that will be the absolute first problem that I will work on changing.</p>
		<p>The second problem that I will work on changing is the quality and stability of our services. I'm aware of all the problems surrounding existing services, from slugged performance, uptime inconsistency, and even misprovisioned allocations. I'm here to fix that.</p>
		<p>First things first, what needs to be done to improve existing conditions is organization. Servers will be consolidated into upgraded specifications, provisioning will be consistent, and our U.S service infrastructure in all U.S locations will be promptly migrated to the ColoCrossing network. Secondly, it's our support response and resolution time. I've brought in additional staff members and doubled the size of our support team, with competent and motivated technicians to make sure things get done effectively and efficiency", says Jaroslav Urban. "I'm excited to lead the path of change for the better."</p>
	</div>
</div>
{{ template "footer.html" . }}
