{{ template "header.html" . }}
<div class="row">
	<div class="col-lg-12">
		<h1>Terms of Service</h1>
		<p>By accessing this Web site or using any of its services on the sixth month of the year 2015 Anno Domini, you agree to grant Us a non transferable option to claim, for now and for ever more, your immortal soul. Should We wish to exercise this option, you agree to surrender your immortal soul, and any claim you may have on it, within 5 (five) working days of receiving written notification from Us or one of Our duly authorised minions.</p>
	</div>
</div>
{{ template "footer.html" . }}
