{{ template "header.html" .Frame }}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Dashboard</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "message.html" .Frame }}
		<h3>Billing</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
		<tr>
			<th>Hourly Cost</th>
			<th>Daily Cost</th>
			<th>Monthly Cost</th>
			<th>Credits Remaining</th>
			<th>Credit Status</th>
			<th>Action</th>
		</tr>
		<tr>
			<td>{{ .CreditSummary.Hourly | FormatCredit }}</td>
			<td>{{ .CreditSummary.Daily | FormatCredit }}</td>
			<td>{{ .CreditSummary.Monthly | FormatCredit }}</td>
			<td>{{ .CreditSummary.Credit | FormatCredit }}</td>
			<td><p class="text-{{ .CreditSummary.Status }}"><strong>{{ .CreditSummary.Status | Title }}!</strong> {{ .CreditSummary.DaysRemaining }} days left until credit exhaustion.</td>
			<td><a href="/panel/billing"><button type="button" class="btn btn-primary btn-sm">Make a Payment</button></a></td>
		</tr>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h3>Open Support Tickets</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "include_tickets.html" .Tickets }}
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h3>Bandwidth</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
		<tr>
			<th>Region</th>
			<th>Used</th>
			<th>Allocated</th>
			<th>Percentage</th>
		</tr>
		{{ range $region, $bw := .BandwidthSummary }}
			<tr>
				<td>{{ $region | Title }}</td>
				<td>{{ $bw.Used | FormatGB }} GB</td>
				<td>{{ $bw.Allocated | FormatGB }} GB</td>
				<td>{{ $bw.ActualPercent | FormatFloat2 }}%</td>
			</tr>
		{{ end }}
		</table>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h3>Virtual Machines</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{template "include_vms.html" .VirtualMachines }}
	</div>
</div>
{{ template "footer.html" .Frame }}
