<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Lobster Panel</title>
	<link href="/assets/css/bootstrap.dashboard.css" rel="stylesheet">
	<link href="/assets/css/metismenu.css" rel="stylesheet">
	<link href="/assets/css/dashboard.css" rel="stylesheet">
	<link href="/assets/css/fonts.css" rel="stylesheet">
	{{ range .Styles }}
		<link href="/assets/css/{{ . }}.css" rel="stylesheet">
	{{ end }}
</head>

<body>
<div id="wrapper">
<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/panel/dashboard">Lobster Panel</a>
	</div>
	<ul class="nav navbar-top-links navbar-right">
		<li class="dropdown">
			<a class="dropdown-toggle" data-toggle="dropdown" href="#">
				<i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
			</a>
			<ul class="dropdown-menu dropdown-user">
				{{ if .Admin }}
					{{ if eq .OriginalId 0 }}
						<li><a href="/admin/dashboard"><i class="fa fa-gear fa-key"></i> Admin</a></li>
					{{ else }}
						<li><a href="/admin/user/{{ .UserId }}"><i class="fa fa-gear fa-key"></i> Logout of user</a></li>
					{{ end }}
				{{ end }}
				<li><a href="/panel/account"><i class="fa fa-gear fa-fw"></i> Settings</a></li>
				<li><a href="/auth/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
			</ul>
		</li>
	</ul>
	<div class="navbar-default sidebar" role="navigation">
		<div class="sidebar-nav navbar-collapse">
			<ul class="nav" id="side-menu">
				<li>
					<a href="/panel/dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
				</li>
				<li>
					<a href="/panel/vms"><i class="fa fa-fw fa-cloud"></i> Virtual Machines</a>
				</li>
				<li>
					<a href="/panel/newvm"><i class="fa fa-fw fa-cog"></i> Create VM</a>
				</li>
				<li>
					<a href="/panel/images"><i class="fa fa-fw fa-hdd-o"></i> Images</a>
				</li>
				<li>
					<a href="/panel/support"><i class="fa fa-fw fa-support"></i> Support</a>
				</li>
				<li>
					<a href="/panel/billing"><i class="fa fa-fw fa-bank"></i> Billing</a>
				</li>
				<li>
					<a href="/panel/charges"><i class="fa fa-fw fa-bitcoin"></i> Charge History</a>
				</li>
			</ul>
		</div>
	</div>
</nav>
<div id="page-wrapper" style="margin-bottom:20px;">
