{{ template "header.html" .Frame }}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{ T "images" }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "message.html" .Frame }}
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h3>{{ T "add_new_image" }}</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<p>{{ T "add_new_image_text" }}</p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<form method="POST" action="/panel/images/add">
		<input type="hidden" name="token" value="{{ .Token }}" />
		<table class="table table-striped">
			<tr>
				<td>{{ T "name" }}</td>
				<td>
					<div class="form-group">
						<input class="form-control" type="text" name="name" placeholder="{{ T "add_new_image_name_placeholder" }}" />
						<span class="help-block">{{ T "add_new_image_name_help" }}</span>
					</div>
				</td>
			</tr>
			<tr>
				<td>{{ T "region" }}</td>
				<td>
					<select class="form-control" name="region">
						{{ range .Regions }}
							<option value="{{ . }}">{{ . | Title }}</option>
						{{ end }}
					</select>
				</td>
			</tr>
			<tr>
				<td>{{ T "disk_format" }}</td>
				<td>
					<div class="radio">
						<label>
						<input type="radio" name="format" value="qcow2" /> QCOW2
						</label>
					</div>
					<div class="radio">
						<label>
						<input type="radio" name="format" value="iso" /> ISO
						</label>
					</div>
				</td>
			</tr>
			<tr>
				<td>{{ T "location" }}</td>
				<td>
					<div class="form-group">
						<input class="form-control" type="text" name="location" placeholder="http://mywebsite.com/image.iso" />
						<span class="help-block">{{ T "add_new_image_location_help" }}</span>
					</div>
				</td>
			</tr>
		</table>
		<button type="submit" class="btn btn-primary">{{ T "add_new_image" }}</button>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<h3>{{ T "manage_images" }}</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ if .Images }}
		<table class="table table-striped">
		<tr>
			<th>{{ T "name" }}</th>
			<th>{{ T "region" }}</th>
			<th>{{ T "status" }}</th>
			<th>{{ T "action" }}</th>
		</tr>
		{{ $token := .Token }}
		{{ range .Images }}
		<tr>
			<td><a href="/panel/image/{{ .Id }}">{{ .Name }}</a></td>
			<td>{{ .Region | Title }}</td>
			<td>{{ .Status | Title }}</td>
			<td>
				<form method="POST" onsubmit="return window.confirm('{{ js (T "image_delete_confirm_text") }}');" action="/panel/image/{{ .Id }}/remove">
					<input type="hidden" name="token" value="{{ $token }}" />
					<button type="submit" class="btn btn-danger">{{ T "delete" }}</button>
				</form>
			</td>
		</tr>
		{{ end }}
		</table>
		{{ else }}
		<p>{{ T "no_images" }}</p>
		{{ end }}
	</div>
</div>
{{ template "footer.html" .Frame }}
