{{ template "header.html" .Frame }}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">Image: {{ .Image.Name }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "message.html" .Frame }}
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<td>{{ .Image.Name }}</td>
			</tr>
			<tr>
				<th>Region</th>
				<td>{{ .Image.Region | Title }}</td>
			</tr>
			<tr>
				<th>Status</th>
				<td>{{ .Image.Status | Title }}</td>
			</tr>
			<tr>
				<th>Size</th>
				<td>{{ .Image.Info.Size | FormatGB }} GB</td>
			</tr>
		</table>
	</div>
</div>
{{ template "footer.html" .Frame }}
