{{ if . }}
<table class="table table-striped">
<tr>
	<th>{{ T "ticket_number" }}</th>
	<th>{{ T "subject" }}</th>
	<th>{{ T "status" }}</th>
	<th>{{ T "last_update" }}</th>
	<th>{{ T "creation_time" }}</th>
</tr>
{{ range . }}
<tr>
	<td><a href="/panel/support/{{ .Id }}">{{ .Id }}</a></td>
	<td><a href="/panel/support/{{ .Id }}">{{ .Name }}</a></td>
	<td>{{ .Status | Title }}</td>
	<td>{{ .ModifyTime | FormatTime }}</td>
	<td>{{ .Time | FormatTime }}</td>
</tr>
{{ end }}
</table>
{{ else }}
<p>{{ T "no_tickets" }}</p>
{{ end }}
