{{ if . }}
<table class="table table-striped">
<tr>
	<th>Name</th>
	<th>Status</th>
	<th>External IP</th>
	<th>Private IP</th>
	<th>Plan</th>
	<th>vCPUs</th>
	<th>Memory</th>
	<th>Storage</th>
	<th>Bandwidth</th>
	<th>Action</th>
</tr>
{{ range . }}
<tr>
	<td><a href="/panel/vm/{{ .Id }}">{{ .Name }}</a></td>
	<td>{{ .Status | Title }}</td>
	<td>{{ .ExternalIP }}</td>
	<td>{{ .PrivateIP }}</td>
	<td>{{ .Plan.Name }}</td>
	<td>{{ .Plan.Cpu }}</td>
	<td>{{ .Plan.Ram }} MB</td>
	<td>{{ .Plan.Storage }} GB</td>
	<td>{{ .Plan.Bandwidth }} GB</td>
	<td><a href="/panel/vm/{{ .Id }}"><button type="button" class="btn btn-primary btn-sm">Manage</button></a></td>
</tr>
{{ end }}
</table>
{{ else }}
<p>You do not have any virtual machines.</p>
{{ end }}
