{{ template "header.html" .Frame }}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{ T "support" }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "message.html" .Frame }}
		<p><a href="/panel/support/open"><button type="button" class="btn btn-primary">{{ T "open_new_ticket" }}</button></a></p>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "include_tickets.html" .Tickets }}
	</div>
</div>
{{ template "footer.html" .Frame }}
