{{ template "header.html" .Frame }}
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">{{ .Vm.Name }}</h1>
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		{{ template "message.html" .Frame }}
	</div>
</div>
{{ if .Vm.Info.CanAddresses }}
	<div class="row">
		<ul class="nav nav-tabs">
			<li id="li_vm_general" class="active"><a href="#vm_general" data-toggle="tab">General</a></li>
			{{ if .Vm.Info.CanAddresses }}
				<li id="li_vm_addresses"><a href="#vm_addresses" data-toggle="tab">IP Addresses</a></li>
			{{ end }}
		</ul>
	</div>
{{ end }}
<div class="tab-content">
	<div class="tab-pane fade in active" id="vm_general">
		<br />
		{{ template "vm_general.html" . }}
	</div>
	{{ if .Vm.Info.CanAddresses }}
		<div class="tab-pane fade" id="vm_addresses">
			<br />
			{{ template "vm_addresses.html" . }}
		</div>
	{{ end }}
</div>
<div id="js_id" style="display:none;">{{ .Vm.Id }}</div>
{{ template "footer.html" .Frame }}
