<div class="row">
	<div class="col-lg-12">
		{{ $vmId := .Vm.Id }}
		{{ $token := .Token }}
		<div style="float:left;">
			<form method="POST" action="/panel/vm/{{ .Vm.Id }}/start">
				<div class="form-group">
					<input type="hidden" name="token" value="{{ .Token }}" />
					<button type="submit" class="btn btn-success ladda-button" data-style="expand-right" data-size="l" onclick="vmStart(this); return false;">{{ T "start_up" }}</button>
				</div>
			</form>
		</div>
		<div style="float:left; padding-left:5px;">
			<form method="POST" action="/panel/vm/{{ .Vm.Id }}/reboot">
				<div class="form-group">
					<input type="hidden" name="token" value="{{ .Token }}" />
					<button type="submit" class="btn btn-warning ladda-button" data-style="expand-right" data-size="l" onclick="vmReboot(this); return false;">{{ T "reboot" }}</button>
				</div>
			</form>
		</div>
		<div style="float:left; padding-left:5px;">
			<form method="POST" action="/panel/vm/{{ .Vm.Id }}/stop">
				<div class="form-group">
					<input type="hidden" name="token" value="{{ .Token }}" />
					<button type="submit" class="btn btn-warning ladda-button" data-style="expand-right" data-size="l" onclick="vmStop(this); return false;">{{ T "shutdown" }}</button>
				</div>
			</form>
		</div>
		{{ if .Vm.Info.CanVnc }}
		<div style="float:left; padding-left:5px;">
			<p><a href="/panel/vm/{{ .Vm.Id }}/vnc" target="_blank"><button type="button" class="btn btn-primary">{{ T "vnc" }}</button></a></p>
		</div>
		{{ end }}
		{{ $params := modal (T "rename") (print "/panel/vm/" $vmId "/rename") "primary" $token }}
		{{ template "modal_header.html" $params }}
			<div class="form-group">
				<label>{{ T "new_name" }}</label>
				<input type="text" class="form-control" name="name">
			</div>
		{{ template "modal_footer.html" $params }}
		<div style="float:left; padding-left:5px;">
			{{ range .Vm.Info.Actions }}
				{{ if or .Description .Options }}{{/* use modal */}}
					{{ $params := modal .Name (print "/panel/vm/" $vmId "/action/" .Action) (question .Dangerous "dangerous" "primary") $token }}
					{{ template "modal_header.html" $params }}
						{{ if .Description }}
							<p>{{ .Description }}</p>
						{{ end }}
						{{ if .Options }}
							<div class="form-group">
								<select name="value">
									{{ range $value, $desc := .Options }}
										<option value="{{ $value }}">{{ $desc }}</option>
									{{ end }}
								</select>
							</div>
						{{ end }}
					{{ template "modal_footer.html" $params }}
				{{ else }}
					<form method="POST" action="/panel/vm/{{ $vmId }}/action/{{ .Action }}"{{ if .Dangerous }} onsubmit="return window.confirm('Are you sure you want to proceed?');"{{ end }}>
						<div class="form-group">
							<input type="hidden" name="token" value="{{ $token }}" />
							<button type="submit" class="btn {{ if .Dangerous }}btn-danger{{ else }}btn-primary{{ end }}">{{ .Name }}</button>
						</div>
					</form>
				{{ end }}
			{{ end }}
		</div>
		{{ if .Vm.Info.CanSnapshot }}
			{{ $params := modal (T "snapshot") (print "/panel/vm/" $vmId "/snapshot") "primary" $token }}
			{{ template "modal_header.html" $params }}
				{{ if .Vm.Info.PendingSnapshots }}
					<p><strong>{{ T "vm_snapshot_pending_snapshot_warning" }}</strong></p>
					<ul>
						{{ range .Vm.Info.PendingSnapshots }}
							<li><a href="/panel/image/{{ .Id }}">{{ .Name }}</a></li>
						{{ end }}
					</ul>
				{{ end }}
				<div class="form-group">
					<label for="name">{{ T "snapshot_name" }}</label>
					<input class="form-control" name="name" id="name">
				</div>
			{{ template "modal_footer.html" $params }}
		{{ end }}
		{{ if .Vm.Info.CanResize }}
			{{ $params := modal (T "resize") (print "/panel/vm/" $vmId "/resize") "primary" $token }}
			{{ template "modal_header.html" $params }}
				<div class="form-group">
					<label for="plan">{{ T "plan" }}</label>
					<select name="plan_id" id="plan">
						{{ $vmPlanId := .Vm.Plan.Id }}
						{{ range .Plans }}
							<option value="{{ .Id }}"{{ if eq .Id $vmPlanId }} selected{{ end }}>{{ .Name }}</option>
						{{ end }}
					</select>
				</div>
			{{ template "modal_footer.html" $params }}
		{{ end }}
		{{ if .Vm.Info.CanReimage }}
			{{ $params := modal (T "reimage") (print "/panel/vm/" $vmId "/reimage") "danger" $token }}
			{{ template "modal_header.html" $params }}
				<div class="form-group">
					<label for="image">{{ T "image" }}</label>
					<select name="image" id="image">
						{{ range .Images }}
							<option value="{{ .Id }}">{{ .Name }}</option>
						{{ end }}
					</select>
				</div>
			{{ template "modal_footer.html" $params }}
		{{ end }}
		{{ $params := modal (T "delete") (print "/panel/vm/" $vmId "/delete") "danger" $token }}
		{{ template "modal_header.html" $params }}
			<div class="form-group">
				<p><strong>{{ T "vm_delete_confirm_text" }}</strong></p>
				{{ if .Vm.Info.PendingSnapshots }}
					<p>{{ T "vm_delete_pending_snapshot_warning" }}</p>
					<ul>
						{{ range .Vm.Info.PendingSnapshots }}
							<li><a href="/panel/image/{{ .Id }}">{{ .Name }}</a></li>
						{{ end }}
					</ul>
				{{ end }}
			</div>
		{{ template "modal_footer.html" $params }}
	</div>
</div>
<div class="row">
	<div class="col-lg-12">
		<table class="table table-striped">
			<tr>
				<th>{{ T "status" }}</th>
				{{ if eq .Vm.Info.Status "Online" }}
					<td id="vm_status"><font color="green"><strong>{{ .Vm.Info.Status }}</strong></font></td>
				{{ else if eq .Vm.Info.Status "Offline" }}
					<td id="vm_status"><font color="red"><strong>{{ .Vm.Info.Status }}</strong></font></td>
				{{ else }}
					<td id="vm_status"><font color="blue"><strong>{{ .Vm.Info.Status }}</strong></font></td>
				{{ end }}
			</tr>
			<tr>
				<th>{{ T "hostname" }}</th>
				<td>{{ .Vm.Info.Hostname }}</td>
			</tr>
			<tr>
				<th>{{ T "external_ip" }}</th>
				<td>{{ .Vm.Info.Ip }}</td>
			</tr>
			{{ if .Vm.Info.PrivateIp }}
			<tr>
				<th>{{ T "private_ip" }}</th>
				<td>{{ .Vm.Info.PrivateIp }}</td>
			</tr>
			{{ end }}
			{{ if .Vm.Info.LoginDetails }}
				<tr>
					<th>{{ T "login_details" }}</th>
					<td>{{ .Vm.Info.LoginDetails }}</td>
				</tr>
			{{ end }}
			<tr>
				<th>{{ T "bandwidth_used" }}</th>
				<td>{{ .Vm.Info.BandwidthUsed | FormatGB }} GB / {{ .Vm.Plan.Bandwidth }} GB</td>
			</tr>
			<tr>
				<th>{{ T "creation_time" }}</th>
				<td>{{ .Vm.CreatedTime | FormatTime }}</td>
			</tr>
			<tr>
				<th>{{ T "price" }}</th>
				<td>{{ .Vm.Plan.Price | FormatCredit }} hourly</td>
			</tr>
		</table>
	</div>
</div>
